@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    --line-color: #fff1f2;
}

html.dark {
    --line-color: rgba(255, 255, 255, .2);
}

.borderBlack {
    @apply border border-black/10;
}

.with-margin-left {
    margin-left: 10px;
}

.with-margin-right {
    margin-right: 10px;
}

.animate-gradient {
    background-size: 300%;
    -webkit-animation: animatedgradient 6s ease infinite alternate;
    -moz-animation: animatedgradient 6s ease infinite alternate;
    animation: animatedgradient 6s ease infinite alternate;
  }
  
  @keyframes animatedgradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
